<% if topic.favorited_by?(current_end_user) %>
  <span>
    <%= link_to(public_topic_favorites_path(topic.id), class:"text-dark", method: :delete, remote: true) do %>
      <i class="fas fa-heart" style="color: red;"></i> <%= topic.favorites.count %>
    <% end %>
  </span>
  <% else %>
  <span>
    <%= link_to(public_topic_favorites_path(topic), class:"text-dark", method: :post, remote: true) do %>
      <i class="fas fa-heart"></i> <%= topic.favorites.count %>
    <% end %>
  </span>
<% end %>