  <div class="TopImage jumbotron text-center" style="height: 600px">
    <section class="py-3 container">
      <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto ">
          <h1 class="mt-3 mb-5 align-middle text-white font-weight-bold display-3" style="letter-spacing: 2px;">Agrilife</h1>
          <br>
          <h3 class="mt-5 text-white">農家さんの日常を触れてみましょう</h3>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10 py-4 mx-auto" style="text-align:center;">
        <h2 class="jquery mb-3">AgriLifeとは</h2>
        <p class="h5 font-weight-bold" style="line-height:2rem; letter-spacing: 4px;">AgriLifeは農家さんとつながることに特化したアプリケーションです。</br>
          農家さんがどんな生活をしているのか、どんな気持ちで農産物を育てているのか、 </br>
          そんな情報を気軽にキャッチしてほしくて制作しました。　</br>
          このアプリケーションで農業を身近に感じていただければ幸いです。
        </p>
      </div>
    </div>
  </div>

  <div class="TopImage-under">
      <div class="top_image2"></div>
      <div class="top_image3"></div>
      <div class="top_image4"></div>
      <div class="top_image5"></div>
  </div>
  