<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-5 mx-auto shadow-lg rouded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">投稿フォーム</h5>
      <div class="form-body p-4">
        <%= render 'producer/topics/form', topic: @topic %>
      </div>
    </div>
  </div>
</div>